body{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    color:#ffffff;
    font-family:'Times New Roman', Times, serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #4e73df, #1cc88a);

}
main {
  flex: 1;
}
header{
    margin-top:0px;
    width:100%;
    display:flex;
    align-items:center;
    gap:200px;
    color:#fdfdfd;
    background:rgba(25, 22, 104, 0.5);
    margin-bottom:50px;
    backdrop-filter:blur(10px);
    box-shadow: 6px 16px 2px rgba(0,0,0,0.2);
    border-radius:10px;
}
#a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5em;
    text-align:center;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
#container{
    font-size:2em;
    margin-bottom:100px;
    font-style: italic; 
    font-weight: 500;
}
#container_1{
    margin-top:50px;
    display:flex;
    justify-content:space-evenly;
    font-size:0.7em;
}
button{
    color:#ffffff;
    background-color:#2e59d9;
    border:none;
    border-radius:20px;
    width:500px;
    height:70px;
    font-size:2em;
    
}
button:hover{
    background-color: #1cc88a;
    box-shadow: 6px 16px 2px rgba(0,0,0,0.2);
}
footer{
    width:100%;
    display:flex;
    justify-content: center;
    height:80px;
    font-size:1.5em;
    background:rgba(25, 22, 104, 0.5);
    backdrop-filter:blur(10px);
    box-shadow: 6px 16px 2px rgba(0,0,0,0.2);
    border-radius:10px;
}
a{
    color:white;
}
#new_container{
    background: rgba(90, 52, 186, 0.25);
    backdrop-filter: blur(10px);
    margin-top:50px;
    padding:30px;
    gap:30px;
    display:flex;
    align-items:center;
    flex-direction:column;
    color:#fdfdfd;
    
    box-shadow: 6px 16px 2px rgba(0,0,0,0.2);
    border-radius:10px;
    width:500px;
    height:600px;
    font-size:2em;
    justify-content:space-around;
}
.tag{
    background:#1cc88a;
    backdrop-filter:blur(10px);
    box-shadow: 6px 16px 2px rgba(0,0,0,0.2);
    border-radius:10px;
    width:400px;
    height:60px;
    text-align:center;
    padding-top:15px;
}
#new_button{
    margin-top:30px;
    color:#ffffff;
    background-color:#2e59d9;
    border:none;
    border-radius:20px;
    width:300px;
    height:60px;
    font-size:1em;
}
.new_button1{
    margin-bottom:10px;
    margin-top:10px;
    color:#ffffff;
    background-color:#2e59d9;
    border:none;
    border-radius:3px;
    width:300px;
    height:60px;
    font-size:1em;
}
.new_button:hover,.new_button1:hover{
    background-color: #1cc88a;
    box-shadow: 6px 16px 2px rgba(0,0,0,0.2);
}
#dash{
    height:80px;
    padding-top:0px;
}
#card{
    width:100%;
    height:500px;
    background: rgba(10, 10, 10, 0.25);
    backdrop-filter: blur(10px);
    margin-top:50px;
    padding:30px;
    gap:30px;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction:column;
    color:#fdfdfd;
    box-shadow: 6px 16px 2px rgba(0,0,0,0.2);
    border-radius:10px;
    font-size:2em;
    border:outset;
}