{% extends 'base.html' %}
{% block body %}

<footer id="dash">
        <a href="{{url_for("profile")}}"><button id="new_button1" class="new_button1 new_but1">MY PROFILE</button></a>
        <a href="{{url_for("menu")}}"><button id="new_button2" class="new_button1 new_but1">MENU</button></a>
        <a href="{{url_for("fooditems")}}"><button id="new_button3" class="new_button1 new_but1">SELECT FOODITEMS</button></a>
        <a href="{{url_for("history")}}"><button id="new_button4" class="new_button1 new_but1">HISTORY</button></a>
        <a href="{{url_for("feedback")}}"><button id="new_button5" class="new_button1 new_but1">SUBMIT FEEDBACK</button></a>

 
        <form action="{{ url_for('logout') }}" method="get" style="display:inline;">
          <button id="new_button6" class="new_button1">LOG OUT</button>
        </form>
    </footer>
  <div id="card">
  MESS CREDIT MANAGEMENT SYSYEM<br>
    <h2 style="text-align:center;">MESS TRANSACTION HISTORY</h2>



  {% if transactions %}
    <div id="menu-grid1">
      <div class="grid-header1">
          <div>Transaction ID</div>
          <div>Item</div>
          <div>Quantity</div>
          <div>Total Cost (Credits)</div>
          <div>Date & Time</div>
      </div>
      <div id="menu-items1">
        {% for txn in transactions %}
        <div class="menu-row1">
          <div>{{ txn.txn_id }}</div>
          <div>{{ txn.item_name }}</div>
          <div>{{ txn.quantity }}</div>
          <div>{{ txn.total_cost }}</div>
          <div>{{ txn.txn_time }}</div>
        </div>
        {% endfor %}
      
      </div>
    </div>
  {% else %}
    <p style="text-align:center;">No transactions found yet!</p>
  {% endif %}
  
</div>
{% endblock %}
